<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block title %}
        {% if title %}
        <title>{{title}}</title>
        {% else %}
        <title>Про програмирование</title>
        {% endif %}
    {% endblock %}
</head>
<body>
    {% block menu %}
    <ul class="menu">
    {% for m in menu %}
        <li>
            <a href="{{ m.url }}">{{ m.name }}</a>
        </li>
     {% endfor %}
    </ul>
    {% endblock %}
    <h1 class="title">{{title}}</h1>
<div class="page">
    <div class="text">
        {% block content %}

        {% endblock %}
    </div>
</div>
</body>
</html>