body{
    background: #eaeaea;
    margin: 0;
    padding: 0;
}
.menu{
    background: lightslategrey;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 0;
}
.page{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.title{
    text-align: center;
}